#bloc-page{
	width: 70%;
	margin: auto;
	font-family: Helvetica, sans-serif;
}

/* HEADER */

.header{
	background-color: dimgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.logo{
	color: white;
	text-decoration: none;
	margin-left: 20px;
	font-size: 1.2em;
}

.nav{
	display: flex;
	margin-right: 200px;

}

.nav li{
	list-style: none;
	margin-left: 20px;
}

.nav a{
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

/* BEST MOVIE SECTION */

#best-movie{
	border: black 4px solid;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 40px;
}

#best-movie__info{
	margin-bottom: 50px;
	width: 33%;
}

#best-movie__btn{
	width: 60px;
	height: 20px;
	border-radius: 20px;
	border: none;
	color: white;
	font-weight: bold;
	background-color: red;
	margin-left: 20px;
	cursor: pointer;
}

/*POPUP*/

#popup-movie{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: black 2px solid;
	background-color: dimgray;
	/*position: absolute;*/

}

#popup-movie__img{
	width: 20%;
}

#popup-movie__detail{
	width: 50%;
}

#popup-movie__btn{
	width: 60px;
	height: 20px;
	border-radius: 20px;
	background-color: red;
	color: white;
	border: none;
	font-weight: bold;
}

#popup-movie__detail li{
	list-style: none;
	font-size: 0.9em;
	/*margin-left: 20px;*/